
// Vendor styles
@import 'normalize';

// Views
@import 'file_input_view';
@import 'svg_prototype_view';

body, html {
    height: 100%;
    width: 100%;
}
body {
    overflow: hidden;
}
.app-container{
    width: 100%;
    height: 100%;
}
